.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 940px;
    height: 642px;
    position: relative;
    left: 0;
    top: 100px;
}
.swiper-button-prev,
.swiper-button-next {
    top: 1941px;
}
.swiper-button-prev {
    margin-left: 740px;
}
.swiper-button-next {
    margin-right: 740px;
}

body {
    background: #efefef;
    color: black;
    margin: 0;
}

ul,
ol {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

[target-anchor].offset {
    transform: translateY(100px);
}
[target-anchor] {
    transform: translateY(0);
    transition: all 0.5s;
}

.top-nav {
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: all 0.5s;
    color: #b7b7b7;
}
.top-nav.sticky {
    background: #fff;
    padding-top: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
    color: #3d4451;
}
.top-nav nav {
    float: right;
    margin: 7px 16px 6px 0;
    padding-right: 999px;
    font-family: 'Open Sans';
}
.top-nav nav ul li.active > a::after,
.top-nav nav ul li.highlight a::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 29px;
    width: 100%;
    height: 3px;
    background: #e6686a;
    animation: menuSlide 0.3s;
}

@keyframes menuSlide {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
.menuTigger {
    padding-bottom: 20px;
}
.submenu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    color: #3d4451;
    margin-top: -14px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    animation: submenuSlide 0.3s;
}
@keyframes submenuSlide {
    0% {
        margin-right: 100%;
    }
    100% {
        margin-right: 0;
    }
}
.top-nav li.active > .submenu {
    display: block;
}
.submenu li {
    white-space: nowrap;
    padding: 10px 10px;
}
.top-nav > nav > ul > li {
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    position: relative;
}
.top-nav nav ul li a {
    font-size: 12px;
    color: inherit;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}

.logo {
    float: left;
    font-size: 30px;
    font-family: 'Fredoka One';
    margin-bottom: 12px;
    padding-left: 493px;
    font-weight: 300;
    margin-top: 7px;
}

.logo .rs {
    color: #e6686a;
    padding-right: 2px;

    padding-left: 16px;
}
.logo .card {
    color: #9a9da2;
    padding-left: 1px;
}

.banner {
    height: 515px;
    background-image: url(./img/bg.jpg);
    background-position: center center;
    background-size: cover;
}
.mask {
    height: 515px;
    background-color: rgba(44, 51, 64, 0.803);
}
.userCard {
    max-width: 940px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
.welcome {
    background-color: #e6686a;
    color: white;
    display: inline-block;
    padding: 4px 16px;
    line-height: 21px;
    position: relative;
    margin-bottom: 26px;
    font-size: 14px;
    font-weight: bold;
}
.welcome .triangle {
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #e6686a;
    border-top-width: 0px;
    display: block;
    position: absolute;
    left: 4px;
    top: 100%;
}
.avatar {
    float: left;
}
.text {
    float: left;
    padding-left: 65px;
    width: 470px;
}
.top-card {
    padding: 57px 51px;
}
.text h1 {
    margin-bottom: 5px;
}
.text p {
    margin-bottom: 28px;
}
.text hr {
    border: none;
    border-top: 1px solid #dedede;
    margin: 28px 0;
}
.text dt,
.text dd {
    float: left;
    padding: 8px 0;
}
.text dt {
    width: 30%;
    font-weight: bold;
}
.text dd {
    width: 70%;
    color: #9da0a7;
}
.media {
    background: #e6686a;
    text-align: center;
    padding: 22.5px 0;
}
.media svg {
    height: 30px;
    width: 30px;
    fill: white;
    vertical-align: top;
}
.media a {
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
    line-height: 30px;
    width: 40px;
    padding: 5px 0;
    margin: 0 16px;
}
.media a:hover {
    background: #cf5d5f;
}

.botton-wrappe {
    text-align: center;
}
.userCard {
    margin-top: -346px;
}
.botton {
    color: black;
    text-decoration: none;
    font-size: 15px;
    padding: 21px 55px;
    display: inline-block;
    border: 1px solid #cdcfd1;
    border-radius: 2px;
    line-height: 16px;
    color: #3d4451;
    font-weight: bold;
    margin-top: 35px;
    transition: box-shadow 0.3s;
}
.botton:hover {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}
.introduction {
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
    margin-top: 45px;
    font-size: 20px;
}
.sk1,
.portfolio {
    max-width: 940px;
    margin: 35px auto 0;
}
.sk1 h2,
.portfolio h2 {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    margin-top: 60px;
}
.message h2 {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    margin-top: 200px;
}
.sk1 ol {
    background: white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 47px 57px 6px;
    margin-top: 32px;
}
.sk1 ol li .progressBar {
    height: 5px;
    background: #fae1e1;
    border-radius: 2px;
    margin: 4px 0 48px;
    overflow: hidden;
}
.sk1 ol li .progressBar .progress {
    background: #e6686a;
    width: 70%;
    height: 100%;
    border-radius: 2px;
    transform: translateX(0);
    transition: all 1s;
}
.sk1.offset ol li .progressBar .progress {
    transform: translateX(-100%);
}
.sk1 ol li {
    float: left;
    width: 48%;
    box-sizing: border-box;
}
.sk1 ol li h3 {
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}
.sk1 ol li:nth-child(even) {
    float: right;
}

.bar-inner {
    height: 100%;
    background: #e6686a;
    width: 10%;
    border-radius: 2px;
    transition: 0.3s;
}

section.message > ol {
    max-width: 940px;
    margin: 0 auto;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    background: rgb(249, 249, 249);
    margin-top: 50px;
}
section.message > ol > li {
    padding: 16px;
    border-bottom: 1px solid #ddd;
}
